/* 
transform: translate(), scale(), rotate(), skew()

translate() - this moves the division in x or y dimensions
scale() - increases divison size twice if set to 2 or more as written
rotate() - rotates the element by some angle(mainly on z axis is visible to eyes)
skew() - makes the element inlined at some angle
*/

div {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 100px;
}
.one {
    background: red;
    transform: translateX(100%);
    
}
.two {
    background: green;
    transform: scale(0.5);    
}
.three {
    background: blue;
    transform: rotateZ(45deg);
}
.four {
    background: yellow;
    transform: skewX(20deg);
}