/* DIV & SPAN,
Div is used to group something and,
SPAN is used to group inline elements. */
.red {
    color: red;
    background: black;
}
.green {
    color: green;
}
span {
    text-transform: uppercase;
}