/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
html {
    font-size: 100%;
} /*16px*/

/* VARIABLES */
:root {
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* rest of the colors */
    --black: #222;
    --white: #fff;

    /* fonts  */
    --headingFont: 'Poppins', sans-serif;
    --bodyFont: 'Poppins', sans-serif;
    --smallText: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
}

/* GLOBAL STYLES */
body {
    background: var(--white);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;  
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
.center {
    padding: 2.75rem 0;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*
=============== 
Project
===============
*/
main {
    display: grid;
    place-items: center;
}
header {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}
#title {
    font-weight: bold;
    margin-bottom: 0;
}
#description {
    font-size: 1.5rem;
}

form {
    background-color: var(--grey-100);
    border-radius: var(--borderRadius);
    padding: 2.5rem;
    min-width: var(--fixed-width);
    font-size: 1.25rem;
    margin-bottom: 5rem;
}
.form-div {
    margin-bottom: 1rem;
    padding: 0.25rem;
}
.form-control {
    display: block;
    width: 100%;
    height: 2.25rem;
    border: 1px solid var(--grey-50);
    border-radius: var(--borderRadius);
}
.form-control::placeholder, textarea::placeholder {
    color: var(--grey-400);
}
select {
    color: var(--grey-400);
}
.radio-div p {
    margin: 0;
}
.checkbox-div p {
    margin: 0;
}
.radio, .checkbox {
    display: block;
}
.input-radio {
    margin-right: 10px;
    min-height: 1rem;
    min-width: 1rem;
}
.input-checkbox {
    margin-right: 10px;
    min-height: 1rem;
    min-width: 1rem;
}
textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid var(--grey-50);
    border-radius: var(--borderRadius);
}
.submit-btn {
    width: 100%;
    padding: 0.675rem 0;
    background: var(--grey-900);
    color: var(--white);
    transition: var(--transition);
}
.submit-btn:hover {
    background: var(--grey-700);
}