.expenseItem {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	margin: 1rem 0;
	border-radius: 12px;
	background-color: #fff;

	.description {
		display: flex;
		flex: 1;
		align-items: center;
		gap: 1rem;

		h2 {
			color: #3a3a3a;
			font-size: 1rem;
			flex: 1;
			margin: 0 1rem;
		}

		.price {
			width: 80px;
			font-size: 1rem;
			font-weight: bold;
			color: white;
			background-color: #929292;
			text-align: center;
			padding: 0.5rem;
			border-radius: 12px;
		}
	}
}
