/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fondamento&family=Lato&display=swap");

html {
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23696969' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    font-family: Fondamento, sans-serif;
    color: #000;
    margin: 0;
    min-height: 100vh;
    font-weight: 500;
    text-align: center;
    
    display: grid;
    place-items: center;
}

/* CONTAINER */
.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.quote-text {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.long-quote {
  font-size: 1.25rem;
}
.fa-quote-left {
  font-size: 3rem;
  margin-right: 10px;
}
.quote-author {
  font-size: 1.25rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
}
.quote-author:before {
  content: "— ";
}

/* Media Query for smaller displays */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 30px;
  }
  .quote-text {
    font-size: 1.5rem;
  }
}


/* BUTTONS */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button {
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #333;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.2rem rgba(121, 121, 121, 0.65);
  transition: all 0.2s;
}
button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
button:active {
  transform: translate(0, 0.1rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
.twitter-button:hover {
  color: #1DA1F2;
}
.fa-twitter {
  font-size: 1.25rem;
}