/* 
BORDER-Radius - helps to cuver the edges of the border 
Negative Margin - helps to overlap the elements
*/
h1 {
    background: red;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
}
p {
    background: blue;
    padding: 20px;
    border: 13px solid green;
    border-radius: 50%;
    margin-top: -100px;
}