/*  Last Line Rule and Specificity * Universal Selector */
p {
    color: blue;
}
p {
    color: green;
}  /* CSS always uses the last line that is added and apply it to the stylesheet */

.red {
    color: red;
}
p {
    color: black;
} /* Here the last line rule is avoided as `.red` is being more specific it will be given more preference. */

/* Universal Selector is given by astrix (*) */
* {
    color: darkkhaki;
}

/* Therefore, specificity is given more preference than Universal Selector. */