/* 
rem = RELATIVE (doesn't depend on parent element, but on root)
1rem = 16px default browser style
*/

/* Example for rem */
html {
    font-size: 10px;
}
div {
    font-size: 10px;
}
.relative {
    font-size: 2rem; /* Now this doesn't depend on the parent element which is saying font-size: 10px;
    It depends on the root, i.e., html tag */
}
.absolute {
    font-size: 32px;
}

/* 
vh (view height) - height - percent of the screeen
vw (view width) - width - percent of the screen

The above two units are relative to the SCREEN (the sizes adjusts to any screen size).
*/
/* Example for vh and vw */
.banner {
    width: 50vw;
    height: 50vh;
    background: rgb(13, 162, 204);
}
.header {
    width: 100vw;
    height: 100vh;
    background: rgb(110, 184, 25);
}