/* 
font-size: controls the size of the text
width & height: controls the width and height of the element
*/

/* pixels: absolute values of measurement. 1 pixel = 1 dot on the screen */

/* percent values: relative; it depends on the parent element */

/* 
em - relative; it depends on the parent element
1em = 16px by default (browswer style)
1em = base value
*/

h1 {
    font-size: 60px; /* px = pixels */ 
    width: 200px;
    height: 300px;
    background: blue;
}

/* Example for precent values */
/* Outer is the parent and inner is the children */
.outer {
    width: 500px;
    height: 500px;
    background: blue;
}
.inner {
    width: 50%;
    height: 50%;
    background: red;
}

/* Example for em */
.relative {
    font-size: 2em;
}
.absolute {
    font-size: 32px;
}

/* Another example for em */
div {
    font-size: 10px;
    /* for relative now font size will be 20px. 
    As parent is saying default is now 10px, so for relative child it will become 2 * 10 = 20px
    For absolute, it will stay 32px only!!! */
}