/* 
Transition goes from 0 to 100% always
Animation can go from 0 to 1%, 2% or 100%
*/

div {
    width: 200px;
    height: 200px;
    color: white;
    margin: 10px;
}
.transition {
    background: red;
    transition: all 2s linear;
}
.transition:hover {
    background: yellow;
    transform: translateX(100px);
}
.animation {
    background: blue;
    /* animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 2; */
    /* Shorthand = */
    animation: move 5s 2; /* name duration iteration-count */
}

@keyframes move { /* syntax for animation, where move is the name of the animation */
    0% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(100px);
        background: red;
    }
    75% {
        transform: translateX(-200px);
        background: yellow;
    }
    100% {
        transform: translateX(20px);
        background: green;
    }
}