/* 
animation-fill-mode: what values are applied by the animation outside the time it is executing
*/

div {
    width: 200px;
    height: 200px;
    color: white;
    margin: 10px;
}
.animation {
    background: blue;
    animation: move 5s 2;
    animation-fill-mode: forwards; /* this will make the animation stop with opacity which is given at 100% */
}

@keyframes move {
    0% {
        opacity: 0;
    }
    25% {
        transform: translateX(200px);
        opacity: 0.25;
    }
    50% {
        transform: translateX(-100px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0.5;
    }
}