/* 
outline
offset
*/
.buttons {
    margin: 3rem;
}
a {
    background: #689f3f; /* changes the background color */
    text-decoration: none; /* since it is a link, this will remove the line below the texts */
    padding: 1.2rem 1.5rem; /* top-bottom 1.2 rem and left right 1.5 rem */
    color: #222; /* changes the color of the text */
    text-transform: uppercase; /* transforms the test into uppercase (ALL CAPITAL) */
    cursor: pointer; /* now when you hover over the text, the cursor will change into pointer  */
    margin: 0 20px;
}
#one {
    border: 0.2rem solid #222;
}
#two {
    /* outline-width: 0.2rem;
    outline-style: solid;
    outline-color: #222; */
    outline: 0.2rem solid #222;
    outline-offset: 10px; /* makes a gap between the border and the content */
    outline-offset: -10px; /* does opposite of above */
}