/* 
Pseudo Elements ::before and ::after --> CONTENT not element
This styles the specific parts of the element.

content:" "; --> required
img --> doesn't work

p::before --> Adds the content at the start of the paragraph 
p::after --> Adds the content at the end of the paragraph 
*/

/* This can help you add content before or after the paragraph */
p::before {
    content: "Hello "; 
    background: black;
    display: block; /* display is set to inline by default */
    font-weight: bold;
    font-size: 2rem;
    color: red;
}
p::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: green;
}

/* Adjusting img inside a div */
div {
    width: 70vw;
    margin: 100px auto;
    border: 2px solid red;
    position: relative; /* Ancestor for div::before written below */
}
img {
    width: 100%;
    display: block;
}
/* img::before {
    content: "hello "; --> Doesn't work!!! Try adding on div
} */
div::before {
    content: "";
    border: 2px solid black;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -40px;
    left: -40px;
    z-index: -2;
    transition: all 0.5s linear;
}
div::after {
    content: "";
    background: grey;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -20px;
    left: -20px;
    z-index: -1;
    transition: all 0.5s linear;
}

div:hover::after,
div:hover::before {
    top: 0;
    left: 0;
}