/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);

    display: grid;
    place-items: center;
}

.calculator {
    background: white;
    width: 25rem; /* 400px */
    border: 12px;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Display */
.calculator-display {
    background-color: black;
    color: white;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}
.calculator-display h1 {
    margin: 0;
    padding: 1.25rem;
    font-size: 45px;
    font-family: "Product Sans", sans-serif;
    font-weight: 100;
    overflow-x: auto; /* For Scroll Bar */
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Buttons */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}
button {
    min-height: 50px;
    min-width: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(199, 199, 199);
    outline: none;
}
.operator {
    background: grey;
    color: white;
    font-size: 30px;
}
.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: rgb(13, 206, 87);
}
.clear {
    background: rgb(255, 40, 40);
    color: white;
}
.clear:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
button:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
button:active {
    transform: translateY(1px);
}
button:focus {
    outline: none;
}

/* Media Query for small displays */
@media screen and (max-width: 600px) {
    .calculator {
        width: 90vw;
    }
}
