<nav>
    <div class="site-title">
        <a href="/"><h1>Blogs</h1></a>
        <p>A Blogging Site</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create-blog">New Blog</a></li>
    </ul>
</nav>
