.Container {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.Layout {
		padding: 1rem;
		gap: 1rem;
		display: flex;
	}

	.SideBar {
		width: 250px;
		height: 850vh;
	}

	.MainContent {
		flex: 5;
		padding: 1.5rem;
		height: 85vh;
		overflow-y: auto;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}
}
