<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis, esse?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis, esse?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis, esse?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis, esse?
            </p>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
