.Examples {
	margin: 3rem auto;

	h2 {
		text-align: left;
	}

	menu {
		margin: 1rem 0;
		padding: 0;
		display: flex;
		gap: 0.5rem;
		list-style: none;

		.TabContent {
			text-align: left;
			padding: 1rem;
			border-radius: 6px;
			background-color: #2f1d43;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

			h3 {
				margin: 0;
			}

			code {
				font-size: 1rem;
			}
		}
	}
}
