.expenseFilter {
	padding: 0 1rem;

	.control {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1rem 0;
	}

	label {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	select {
		font: inherit;
		padding: 0.5rem 3rem;
		font-weight: bold;
		border-radius: 6px;
	}
}
