@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&family=Yesteryear&display=swap');

/* 
font-weight
font-style
*/
body {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.main {
    font-family: 'Yesteryear', cursive;
}
.subheading {
    font-style: normal;
}

.one {
    font-weight: 700;
}
.two {
    font-weight: 900; /* Keeping font weight 900 won't make a difference here because the max is 700 as we imported that from Google Fonts */
}