/* Linear Gradients */

div {
    width: 150px;
    height: 150px;
    margin: 5px;
}
.one {
    background: linear-gradient(red, blue);
}
.two {
    background: linear-gradient(to top, red, blue, rgb(110, 184, 15));
}
.three {
    background: linear-gradient(150deg, red, blue);
}
.four {
    background: linear-gradient(to top right, red, blue);
}
.five {
    background: linear-gradient(rgba(13,162,204,0.8), rgba(110, 184, 25, 0.8));
}
.six {
    background: linear-gradient(to left, rgba(13,162,204,0.8), rgba(110, 184, 25, 0.8));
}