/* 
text-shaow: x-axis y-axis blur color;
box-shaodw: x-axis y-axis blur color;
*/

h1 {
    text-shadow: 5px 5px 3px red;
}
.box {
    width: 200px;
    height: 100px;
    background: blue;
    margin: 20px;
    /* box-shadow: 3px 5px 3px green; */
    transition: all 2s;
}
.box:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}