a {
    margin: 20px;
    display: block;
}

/* 
::first-line - accesses the first line of the paragraph element
::first-letter - accesses the first letter of the paragraph element
*/

p::first-line {
    font-weight: bolder;
}
p::first-letter {
    font-size: 3rem;
}

/* 
:hover 
Applies the style when we hover over the element using the cursor
*/ 
p:hover {
    color: red;
}
.header:hover {
    background: blue;
    color: white;
}
.zero:hover {
    text-decoration: none;
}

/* 
:link - changes the styles of the links
:visited - changes the styles of the links which are visited
:active - cahnges the styles of the link when it is clicked
*/
.one:link {
    color: aqua;
}
.two:visited {
    color: red;
}
.three:active {
    color: orange;
}