/* 
CSS Box Model
It consists of margin, border, padding, content

Content is the text or img we wish to display.
Padding is the distance between content and border.
Border is the distance between end of padding and the start of margin.
Margin is above border.

Content < Padding < Border < Margin 
*/

/*
MARGINS
The below written padding options, works exactly same for margins 
To remove the gap between the first element and second element... 
Option 1 = set margin-bottom of first to 0 and margi-top of bottom to 0;
Option 2 = set the margin of all elements to 0 using ----> * { margin = 0; }
*/

/* 
BORDER
border-style = styles the border
border-width = width of the border
border-color = changes the color of the border

if you want to add border to any of the sides particularly, 
border-sides: 5px dashedmrgb(13, 162, 204); where sides = top, right, bottom or left
*/
h1 {
    background: red;
    /* padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; */
    padding: 20px; /* ----> Option 1 = Adds 20px padding on top, bottom, left, right */

    margin-bottom: 0;

    border-style: solid;
    border-width: 10px;
    border-color: rgb(110, 184, 25); 
}
p {
    background: blue;
    /* padding: 50px; */ /* ----> Option 1 = Adds 50px padding on top, bottom, left, right */
    /* padding: 30px 60px; */ /* ----> Option 2 = This adds 30px padding to top & bottom and 60px to left & right */
    /* padding: 20px 40px 60px 10px; */ /* ----> Option 3 = Adds 20px padding to top, 40px padding to right, 60px padding to bottom & 10px padding to ;lleft */
    padding: 20px;

    margin-top: 0;

    border: 13px solid orange; /* first is width, then style and then color of the border */
}