/* Horizontal Centering */

body {
    text-align: center;
}
/* To center the block elements, margin property can be used */
.block {
    background: blue;
    color: white;
    width: 150px;
    /* margin-left: auto;
    margin-right: auto; */
    /* You can also type it in a single line */
    margin: 20px auto;
}
.inline {
    background: red;
    color: white;
}