/* 
How to add img as background

Background repeat can be stopped using background-repeat (it is set on repeat by default).

To change the background size, use background-size (set it to cover to make it fit to the space provided).

To change the background position, use background-position
*/

div {
    height: 400px;
    color: red;
}

.big-img {
    background: url('../img/big.jpeg'); /* double dots means go to the previous folder */
    margin-bottom: 20px;
    background-size: cover;
    background-position: center; /* center part of the image is shown */
}
.small-img {
    border: 5px solid red;
    background: url('../img/small.jpeg'); 
    background-repeat: no-repeat; 
    /* background-position: center; */ /* puts the image at the center */
    background-position: 20% 50%; /* x y values  */
}
.folder-img {
    background: url('../img/photo.jpg'); 
    background-repeat: round; /* round removes the cut photos */
}