/* Basic Selectors */

* { /* styles everything in the html file */
    color: red;
}
#heading { /* styles the id heading */
    font-size: 40px;
    text-transform: uppercase;
    color: blue;
}
.heading { /* styles the class heading */
    font-size: 20px;
    text-transform: capitalize;
    color: green;
} 
p { /* styles the paragraph element */
    letter-spacing: 20px;
}