/* Color Properties */

/* Total color names in HTML - 140, https://www.w3schools.com/tags/ref_colornames.asp */

/* Colors can also be picked from RGB (Red Green Blue) 0 to 255 */
/* White = rgb(255, 255, 255) */
/* Black = rgb(0, 0, 0) */

/* RGBS 0-1 Opacity/Transparency, where a (alpha) is a parameter for transparency */

/* 
Even HSL and HEX (#RRGGBB) values can be used 
123456789 A(10) B(11) C(12) D(13) E(14) F(15)
          10    11    12    13    14    15
        #FF 00 00 - RED
        #00 FF 00 - GREEN

HEX values gives more variety.
Black = #000
White = #FFF 
*/
/* Use https://coolors.co/ for color paletes */


#first {
    color: rgb(255, 255, 255);
    background-color: black;
}
#second {
    color: rgb(13, 162, 204);
    background: rgb(0, 0, 0);
}
#third {
    color: rgb(0, 0, 255);
    background: rgb(100, 45, 0);
}
#fourth {
    color: rgb(253, 96, 46);
    background: rgba(0, 0, 0, 0.5); /* Alpha is transparency */
}
#fifth {
    color: rgb(253, 96, 46);
    background: rgba(0, 0, 0, 0.25);
}
#sixth {
    color: #FF0000;
    background: #000;
}
body {
    background: rgb(110, 184, 25);
}